.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .next-button {
    background-color: lightblue;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .next-button .arrow-icon {
    margin-left: 10px;
  }
  
  .next-button:hover {
    background-color: #add8e6;
  }
  